.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 2em;
  height: 30px;
  width: 30px;
}

.hamburger:hover {
  cursor: pointer;
}
